html {
    background-color: deepskyblue;
    color:navy;
}

h1, h2 {
    text-align: center;
}

p {
    padding: 20px;
}

img {
    width: 30%;
}

.image {
    text-align: center;
}